<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/slider.css">
  <script defer src="/scripts/slider.js"></script>
  <title>Migration: Home</title>
</head>
<body>
  <header class="header">
    <a class="logo" href="/">
      <img class="logo__img" src="assets/logo.svg" alt="cat-logo">
    </a>
    <nav>
      <ul class="nav">
        <li class="nav__item">
          <a href="/" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="/about" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="/contacts" class="nav__link">Contacts</a>
        </li>
      </ul>  
    </nav>
  </header>
</body>
</html>