:root {
  --clr-base: #333;
  --clr-font: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-base);
  font-size: 1.6rem;
  color: var(--clr-font);
}

:local(.greeting) {
  font-size: 20rem;
  color: rgb(48, 146, 244);
}