.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 2rem 4rem;
  background-color: var(--clr-primary);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .6);
}

.logo {
  display: block;
  height: 100%;
  margin-right: auto;
  padding: 0;
  border: none;
  color: white;
}

.logo__img {
  height: 100%;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
}